#head_portrait {
    z-index: 3;
}

#head_portrait span {
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 30px;
}

.hear_img_div {
    position: absolute;
    right: 12%;
}

.heard_img {
    margin-top: 10px;
    width: 40px;
    height: 40px;
}

#showUserInfo {
    position: absolute;
    top: 20px;
    margin-top: 40px;
    margin-left: -45px;
    width: 130px;
    height: 230px;
    display: none;
}

#arrowUp {
    width: 40px;
    height: 50px;
    background-image: url('/static/img/arrowUp.png');
}

#showUserInfo .back {
    background-color: cadetblue;
}

#showUserInfo ul li {
    font-size: 20px;
}

#back_div {
    opacity: 0;
    z-index: 2;
    position: absolute;
    background-color: aqua;
    top: 0px;
    right: 7%;
    width: 400px;
    height: 500px;
}

#test_back {
    opacity: 0;
    z-index: 3;
    position: absolute;
    background-color: aquamarine;
    top: 5%;
    right: 13.4%;
    width: 60px;
    height: 20px;
}

.text_center {
    text-align: center;
}

#hear_ul {
    list-style: none;
}

#hear_ul li {
    float: left;
}

#conten {
    position: absolute;
    z-index: 1;
    top: 35%;
    left: 35%;
}

.z_index_1 {
    z-index: 1;
}

#uploadForm {
    position: absolute;
    z-index: 10;
    width: 50px;
    height: 30px;
    /* border: 1px solid black; */
}

#file {
    opacity: 0;
    width: 100%;
    height: 100%;
}

.left_float {
    float: left;
}

#showWindows {
    display: none;
    z-index: 10;
    position: absolute;
    top: 20%;
    left: 25%;
    width: 900px;
    height: 500px;
    background-color: white;
}

#right_table a {
    float: right;
    margin-right: 0px;
}

#right_table tr td:first-child {
    width: 400px;
}

#right_table tr td:first-child+td {
    width: 300px;
}

#outShow {
    position: absolute;
    top: 5%;
    left: 44%;
    width: 70px;
    height: 70px;
    display: none;
}

#allimage {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
}

#Allfile {
    display: none;
}

#outimg {
    display: none;
    position: absolute;
    z-index: 4;
    top: 1%;
    right: 1%;
}

#outimg span {
    margin-left: 20px;
    color: white;
    font-size: 20px;
    display: block;
}

#images {
    margin-top: 10px;
    margin-left: 10px;
}

.imageSize {
    width: 475px;
    height: 300px;
}

#back_plate {
    display: none;
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.3;
    background-color: black;
}

#editPassword {
    display: none;
    position: absolute;
    z-index: 12;
    top: 20%;
    left: 30%;
    width: 600px;
    height: 300px;
    background-color: white;
}

#newpassword {
    width: 300px;
}

#password_input {
    margin-left: 80px;
    margin-top: 100px;
}

.center_size {
    margin-top: 20px;
    margin-left: 150px;
}