* {
    margin: 0px;
    padding: 0px;
}

video {
    position: fixed;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    /*加滤镜*/
    /*filter: blur(15px); //背景模糊设置 */
    /*-webkit-filter: grayscale(100%);*/
    /*filter:grayscale(100%); //背景灰度设置*/
    z-index: -11
}

source {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}

.hear_div {
    /* position: absolute; */
    margin-top: 0px;
    height: 60px;
    width: 100%;
    background-color: white;
}

.heard_nav {
    margin-top: 15px;
    margin-left: 700px;
}

.hear_button {
    background-color: #3397ff;
}

#head_portrait {
    z-index: 3;
}

#head_portrait span {
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 30px;
}

.hear_img_div {
    position: absolute;
    right: 12%;
}

.heard_img {
    margin-top: 10px;
    width: 40px;
    height: 40px;
}

#showUserInfo {
    position: absolute;
    top: 20px;
    margin-top: 40px;
    margin-left: -45px;
    width: 130px;
    height: 230px;
    display: none;
}

#arrowUp {
    width: 40px;
    height: 50px;
    background-image: url('/static/img/arrowUp.png');
}

#showUserInfo .back {
    background-color: cadetblue;
}

#showUserInfo ul li {
    font-size: 20px;
}

#back_div {
    opacity: 0;
    z-index: 2;
    position: absolute;
    background-color: aqua;
    top: 0px;
    right: 7%;
    width: 200px;
    height: 300px;
}

#test_back {
    opacity: 0;
    z-index: 3;
    position: absolute;
    background-color: aquamarine;
    top: 5%;
    right: 13.4%;
    width: 60px;
    height: 20px;
}

.text_center {
    text-align: center;
}

#hear_ul {
    list-style: none;
}

#hear_ul li {
    float: left;
}

.left_float {
    float: left;
}

.content {
    width: 100%;
}

.left_list {
    margin-left: 0px;
    width: 195px;
    background-color: rgb(247, 247, 247);
    border: 1px solid black;
}

#left_list_div {
    width: 100%;
}

#left_list_div ul :first-child {
    width: 100%;
    margin-left: 0px;
}

#left_list_div ul li {
    width: 100%;
    text-align: center;
}

#left_list_div_2 ul li {
    width: 100%;
    text-align: center;
}

#right_list {
    margin-left: 20px;
}

#uploadForm {
    position: absolute;
    z-index: 10;
    width: 50px;
    height: 30px;
    /* border: 1px solid black; */
}

#upload {
    text-align: center;
    line-height: 0px;
    z-index: 9;
    width: 49px;
    height: 29px;
}

#fileUp {
    position: relative;
    left: 700px;
    top: 100px;
}

#file {
    opacity: 0;
    width: 100%;
    height: 100%;
}

#myfile {
    position: relative;
    background-color: white;
    top: 200px;
    left: 400px;
}

#right_table a {
    float: right;
    margin-right: 0px;
}

#right_table tr td:first-child {
    width: 400px;
}

#right_table tr td:first-child+td {
    width: 300px;
}
#back_plate {
    display: none;
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.3;
    background-color: black;
}

#editPassword {
    display: none;
    position: absolute;
    z-index: 12;
    top: 20%;
    left: 30%;
    width: 600px;
    height: 300px;
    background-color: white;
}

#newpassword {
    width: 300px;
}

#password_input {
    margin-left: 80px;
    margin-top: 100px;
}

.center_size {
    margin-top: 20px;
    margin-left: 150px;
}
/*//进度条*/
#hear_alert {
    display: none;
    width: 100%;
    position: absolute;
}

#download_bar {
    z-index: 7;
    display: none;
    position: absolute;
    width: 15%;
    height: 100%;
    background-color: white;
    box-shadow: -4px 3px 20px 6px #4a4444
}

#showFieInfo {
    display: block;
    margin-top: 20px;
    margin-left: 40px;
}

#cancel_button {
    position: relative;
    margin-left: 230px;
    display: none;
}

#showInfo {
    position: absolute;
    left: 30%;
}

.progress_bar {
    float: left;
    margin-left: 20px;
    width: 70%;
}


.upFile_button_size {
    width: 70px;
    height: 30px;
}

#upFileButton {
    position: relative;
}

#upFileButton input {
    opacity: 0;
    position: relative;
    z-index: 10;
}

#upFileButton button {
    position: absolute;
    z-index: 9;
    top: 0px;
}