* {
    margin: 0px;
    padding: 0px;
}

video {
    position: fixed;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    /*加滤镜*/
    /*filter: blur(15px); //背景模糊设置 */
    /*-webkit-filter: grayscale(100%);*/
    /*filter:grayscale(100%); //背景灰度设置*/
    z-index: -11
}

source {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}

.from_control_size {
    width: 400px;
    height: 40px;
}

.from_position {
    position: absolute;
    left: 35%;
    top: 35%;
}

.button_style {
    margin-top: 30px;
}