<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/js/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <title>home</title>
</head>

<body>
    <video id="v1" autoplay loop muted>
        <source src="/voide/back.mp4" type="video/mp4"  />
    </video>
    <div class="hear_div">
        <div class="heard_nav left_float">
            <ul id="hear_ul" class="nav">
                <li role="presentation"><a class="btn btn-default hear_button" href="/html/home">我的网盘</a></li>
                <li role="presentation"><a class="btn btn-default hear_button" href="/html/images">我的相册</a></li>
            </ul>
        </div>
        <div id="head_portrait" class="left_float hear_img_div">
            <div class="left_float" onmouseover="showUserInfo()">
                <img src="/img/heard.png" class="heard_img left_float">
            </div>
            <span></span>
            <div id="showUserInfo">
                <ul class="list-group">
                    <li class="list-group-item back"><img class="img_center" src="/img/heard.png"></li>
                    <li class="list-group-item text_center"></li>
                    <li class="list-group-item text_center" onclick="editPassword()"><a href="#">修改密码</a></li>
                    <li class="list-group-item text_center" onclick="outLogin()"><a href="#">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
<!--    // 进度条-->
    <div id="hear_alert" class="" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="text-center"><strong>!</strong> <span>上传成功</span></div>
    </div>
    <div id="download_bar">
        <!-- 显示文件信息 -->
        <div id="showFieInfo">
            <label name="upfileName"></label><br />
            <label name="upfileSize"></label><br />
            <label name="upfileType"></label><br />
        </div>
        <div class="progress_bar">
            <div class="progress progress-striped active" style="display: block">
                <div id="progressBar" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuenow="0" aria-valuemax="100" style="width: 20%"></div>
            </div>
        </div>
        <!-- 取消按钮 -->
        <div id="cancel_button">
            <input class="btn btn-success btn-xs" type="button" name="cancelUpload" value="取消" />
        </div>
        <!-- 显示上传速度 -->
        <div id="showInfo">0KB/</div>
    </div>

    <div id="editPassword">
        <div id="password_input" class="form-horizontal">
            <div class="form-group ">
                <label for="newpassword" class="col-sm-3 control-label">输入新密码</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="newpassword" placeholder="password">
                </div>
            </div>
            <div class="left_float center_size">
                <button class="btn btn-success center-block left_float" onclick="Yes()">确定</button>
                <button class="btn btn-success center-block left_float" onclick="No()">取消</button>
            </div>
        </div>
    </div>
    <div id="back_plate"></div>
    <div id="test_back"></div>
    <div id="back_div" onmouseover="showout()"> </div>
    <div class="content">
        <div id="right_list" class="left_float">
            <div id="fileUp" class="left_float">
                <form id="uploadForm" enctype="multipart/form-data">
                    <input id="file" type="file" name="file" oninput="UploadFiles('home')" />
                </form>
                <button id="upload" type="button" class="btn btn-success">上传</button>
            </div>
            <div id="myfile">
                <table id="right_table" class="table table-striped">
                    <tr>
                        <td>文件名</td>
                        <td>大小</td>
                        <td>修改日期</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="/js/jquery-3.5.1.min.js "></script>
<script src="/js/bootstrap-3.3.7-dist/js/bootstrap.min.js "></script>
<script src="/js/html_js/home.js "></script>

</html>