<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/js/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/images.css" rel="stylesheet">
    <title>images</title>
</head>

<body>
    <div class="hear_div">
        <div class="left_float">
            <a href="">
                <img src="/img/colud.png" style="margin-left: 20px;"></img>
            </a>
        </div>
        <div class="heard_nav left_float">
            <ul id="hear_ul" class="nav">
                <li role="presentation"><a href="http://localhost:8080/home">我的网盘</a></li>
                <li role="presentation"><a href="http://localhost:8080/images">我的相册</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <button onclick="getimage1()">检索</button>
        <div id="images">
        </div>
    </div>
</body>
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/js/html_js/images.js"></script>

</html>