<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/js/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/images.css" rel="stylesheet">
    <title>images</title>
</head>

<body>
    <video id="v1" autoplay loop muted>
        <source src="/voide/back.mp4" type="video/mp4"  />
    </video>
    <div class="hear_div">
        <div class="heard_nav left_float">
            <ul id="hear_ul" class="nav">
                <li role="presentation"><a class="btn btn-default hear_button" href="/html/home">我的网盘</a></li>
                <li role="presentation"><a class="btn btn-default hear_button" href="/html/images">我的相册</a></li>
            </ul>
        </div>
        <div id="head_portrait" class="left_float hear_img_div">
            <div class="left_float" onmouseover="showUserInfo()">
                <img src="/img/heard.png" class="heard_img left_float">
            </div>
            <span>lst</span>
            <div id="showUserInfo">
                <ul class="list-group">
                    <li class="list-group-item back"><img class="img_center" src="/img/heard.png"></li>
                    <li class="list-group-item text_center">lst</li>
                    <li class="list-group-item text_center">修改密码</li>
                    <li class="list-group-item text_center">退出</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="test_back"></div>
    <div id="back_div" onmouseover="showout()"> </div>
    <div class="content">
        <div id="images">
        </div>
    </div>
</body>
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/js/html_js/images.js"></script>

</html>