<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./js/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/login.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <form class="from_position">
        <div class="form-group">
            <label for="username">username</label>
            <input type="email" class="form-control from_control_size" id="username" placeholder="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control from_control_size" id="password" placeholder="Password">
        </div>
        <button type="button" class="center-block button_style btn btn-success" onclick="login()">login</button>
    </form>
</body>
<script src="/js/jquery-3.5.1.min.js">
</script>
<script src="/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/js/html_js/login.js"></script>

</html>